<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.web.platform.mapper.UserMapper">

<!--登陆-->
    <select id="userLogin" resultType="com.web.platform.pojo.vo.UserVO">
        SELECT user_id, username, phone, email, age, sex, id_card, role
        FROM housing_lease_db.t_user
        WHERE username = #{loginForm.username} AND password = #{loginForm.password}
    </select>
<!--我的信息-->
    <select id="space" resultType="com.web.platform.pojo.vo.UserVO">
        SELECT user_id, username, phone, email, age, sex, role, id_card, user_img, last_login_time, create_time, update_time
        FROM housing_lease_db.t_user
        WHERE user_id = #{userId}
    </select>
<!--分页查询-->
    <select id="registed" resultType="com.web.platform.pojo.vo.UserVO">
        SELECT user_id, username, phone, email, age, sex, id_card, role, rental_request, published, last_login_time, create_time, update_time
        FROM housing_lease_db.t_user
        <where>
        <if test='userQuery.userId != null'> AND user_id LIKE CONCAT('%',#{userQuery.userId},'%')</if>
        <if test='userQuery.username != null and userQuery.username.trim() != ""'>AND username LIKE CONCAT('%',#{userQuery.username},'%')</if>
        <if test='userQuery.phone != null and userQuery.phone.trim() != ""'>AND phone LIKE CONCAT('%',#{userQuery.phone},'%')</if>
        <if test="userQuery.email != null and userQuery.email.trim() != ''">AND email LIKE CONCAT('%',#{userQuery.email},'%')</if>
        <if test="userQuery.minAge != null">AND age &gt;= #{userQuery.minAge}</if>
        <if test="userQuery.maxAge != null">AND age &lt;= #{userQuery.maxAge}</if>
        <if test="userQuery.sex != null">AND sex = #{userQuery.sex}</if>
        <if test="userQuery.idCard != null and userQuery.idCard.trim() != ''">AND id_card LIKE CONCAT('%',#{userQuery.idCard},'%')</if>
        <if test="userQuery.role != null">AND role = #{userQuery.role}</if>
        <if test="userQuery.rentalRequest != null">AND rental_request = #{userQuery.rentalRequest}</if>
        <if test="userQuery.published != null">AND published = #{userQuery.published}</if>
        <if test='userQuery.startTime!=null'> AND create_time &gt;= #{userQuery.startTime}</if>
        <if test='userQuery.endTime!=null'> AND create_time &lt;= #{userQuery.endTime}</if>
        </where>
    </select>
    <!--修改密码-->
    <update id="updatePassword">
        UPDATE housing_lease_db.t_user
        SET password = #{passwordDTO.newPwd}
        WHERE username = #{passwordDTO.username} AND password = #{passwordDTO.oldPwd}
    </update>


</mapper>